body{
    background-color: white;
    background-image: url(fond2.jpg);
    background-size: cover;
    background-position: 0 0px;
    background-repeat: no-repeat;
    margin: 10px;
}

.main{
    margin: 0px 30% 20px 30%;
    padding: 0px 30px 30px 30px;
    
    
}

.menu_dash{
    margin: 20px 30% 20px 30%;
    padding: 30px 30px 30px 30px;
}

body{
    background-color: #B4BBC9;
}

h1{
    font-size: 40px;
    font-family: Helvetica;
    text-align: center;
    margin-top: 0;
}
input{
    background-color: #189494;
    font-family: Helvetica;
    font-size: 40px;
    color: white;
    border:transparent;
    border-radius: 10px;
    text-align: center;
    width: 230px;
    height: 60px;
    display: block;
    margin: auto;
    box-shadow: 4px 4px 7px #126F6F;
}

input:hover{
    background-color: #126F6F;
}



.go{
    background-color: #189494;
    font-family: Helvetica;
    font-size: 80px;
    color: white;
    border: transparent;
    border-radius: 10px;
    width: 230px;
    height: 100px;
    margin: 20px 20px 20px 20px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    margin: auto;
    box-shadow: 4px 4px 7px #126F6F;
    
}


div p{
    font-family: Helvetica;
    text-align: center;
    font-size: 28px;
    margin: 20px;
}

div.result p{
    margin: 0;
    color: white;
}

.result {
    background-color: #189494;
    margin: 40px auto;
    border-radius: 10px;
    width: 220px;
    padding: 10px;
    box-shadow: 4px 4px 7px #126F6F;

}

.divbutton{
    display: block;
    margin-top: 40px;
    
}

.divbutton button:hover{
    background-color: #126F6F;
}



ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #189494;
    border-radius: 10px;
    width: fit-content;
    margin: 0;
    box-shadow: 4px 4px 7px #126F6F;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5.3px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 20px;
    border-radius: 10px;

}

li a:hover  {
    background-color: #126F6F;
}

li a:active{
    background-color: #093838;
}



.btn_conso{
    
    background-color: #189494;
    text-decoration: none;
    color: white;
    font-family: Helvetica;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 14px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    
}

.dashbord{

    margin: 5px 5% 5px 5%;
}



@media only screen and (max-width: 1256px){
    
    div.main{
        margin: 20px 8px 8px 8px;
        padding: 0px 30px 30px 30px;
    }

    body{
        min-height: 1000px;
        background-color: white;
        background-image: url(fond2r.jpg);
        background-position: bottom;
    }
    .menu{
        display: block;
        margin: auto;
        width: fit-content;
    }
}

@media only screen and (max-width: 550px){
    
    div.main{
        margin: 20px 8px 8px 8px;
        padding: 0px 30px 30px 30px;
    }

    body{
        min-height: 1000px;
        background-color: white;
        background-image: url(fond2r.jpg);
        background-position: bottom;
    }
    .menu{
        display: block;
        margin: auto;
        width: fit-content;
    }
}







input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
